*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;
    background-color: #d6d6d6;
}

header{
    position: fixed;
    width: 100%;
    height: 130px;
    top: 0;
    background: #012A3A;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    font-family: 'Roboto Slab', serif;
}

.efect{
    position: absolute;
    width: 260px;
    height: 500px;
    left: 0px;
    top: -20px;
    z-index: -3;
}

.efect2{
    position:absolute;
    width: 280px;
    height: 460px;
    right: 0;
    top: 135px;
    z-index: -1;
}

main{
    position: relative;
    opacity: 100%;
    top: 130px;
    bottom: 70px;
    width: 100%;
}

.opciones{
    width: 100%;
    height: 55px;
    display: flex;
    position: fixed;
    z-index: 3;
}

.animacion{
    position: absolute;
    top: 52px;
    left: 0;
    width: 50%;
    height: 3px;
    background-color: #2EFFCE;
    transition: right 0.5s;
}

.animacion2{
    position: absolute;
    top: 52px;
    right: 0;
    width: 50%;
    height: 3px;
    background-color: #2EFFCE;
    transition: right 0.5s;
    display: none;
}

.btn-chat{
    font-size: 20px;
    width:50%;
    color:  black;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #012A3A;
    font-family: 'Roboto Slab', serif;
}

.community{
    font-size: 20px;
    width:50%;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: 'Roboto Slab', serif;
    border-bottom: 3px solid #012A3A;
    color: black;
}

.chats{
    position: relative;
    top: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: opacity 0.5s;
}

.chats img{
    width: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.chats h1{
    font-family: 'Roboto Slab', serif;
    color: #012A3A;
    width: 100px;
    font-size: 24px;
}

.chats span{
    color: #012A3A;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: relative;
    top: 35px;
    right: 100px;
}

.chat1{
    width: 330px;
    border-bottom: 2px solid #012A3A;
    display: flex;
    margin-top: 20px
}

.chats2{
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: opacity 0.5s;
}

.chats2 img{
    width: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.chats2 h1{
    font-family: 'Roboto Slab', serif;
    color: #012A3A;
    font-size: 24px;
    width: 200px;
}

.chat3{
    width: 330px;
    border-bottom: 2px solid #012A3A;
    display: flex;
    margin-top: 20px
}

.chat3 span{
    color: #012A3A;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 75px;
    right: 137px;
    white-space: nowrap;
}

.chat4{
    width: 330px;
    border-bottom: 2px solid #012A3A;
    display: flex;
    margin-top: 20px
}

.chat4 span{
    color: #012A3A;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 165px;
    right: 137px;
    white-space: nowrap;
}

.chat5{
    width: 330px;
    border-bottom: 2px solid #012A3A;
    display: flex;
    margin-top: 20px
}

.chat5 span{
    color: #012A3A;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 255px;
    right: 137px;
    white-space: nowrap;
}

header p{
    font-size: 4rem;
    color: white;
}

.center{
    position: relative;
    width: 85px;
    height: 120px;
    bottom: 10px;
    left: 0px;
    background-color: #012A3A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    z-index: 4;
}

.center img{
    width: 60px;
    height: 60px;
}

.Footer-options{
    background-color: white;
    height: 75px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    z-index: 3;
    border: 1px solid #012A3A;
}

.home{
    width: 40px;
    height: 40px;
    position: relative;
    top: 45px;
}

.Diary{
    width: 40px;
    height: 40px;
    position: relative;
    top: 45px;
}

.comunidad{
    width: 40px;
    position: relative;
    top: 35px;
}

.perfil{
    width: 40px;
    height: 40px;
    position: relative;
    top: 43px;
}

.Footer-options ul{
    display: flex;
    list-style: none;
}

.Footer-options li{
    margin: 0 15px;
}